
@-webkit-keyframes fadeIn {
100% { opacity: 1; }
80% { opacity: 0.9; }
60% { opacity: 0.5; }
40% { opacity: 0.3; }
 20% { opacity: 0; }
  0% { opacity: 0; }  
}

@keyframes fadeIn {
  100% { opacity: 1; }
  80% { opacity: 0.9; }
  60% { opacity: 0.5; }
  40% { opacity: 0.3; }
  20% { opacity: 0; }
  0% { opacity: 0; }
  
}
.collapse-header {
	cursor: pointer;
	box-shadow: inset 0px 0px 10px 0px rgba(186, 184, 184, 0.75);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(186, 184, 184, 0.75);
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(186, 184, 184, 0.75);
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
.collapse-header:hover {
	
	background: #D6D4D4;
	box-shadow: inset 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
-moz-box-shadow: inset 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: inset 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
}