.upload {
	float:left;
	display:inline;
	width:40%;
}
.upload-save {
	float:right;
	margin-top:15px;
	margin-left:6px;
	margin-right: 10px;
}
.upload-progress {
	display:block;
	float:left;
}
.upload-close {
	margin:auto;
	top:-190px;
}
