<div class="span4 well">
	
  <h4>Вы - руководитель группы и организатор путешествия</h4>
  <p>Если Вы хотите организовать поездку группой - как турагент, или как частное лицо - то вам сюда
  <br>
  Вся необходимая информация об участниках, такая , как паспортные данные участников, точки поездки, привязанные к картам в одном месте</p>
  
</div>
<div class="span4 well">
  <h4>Вы - путешественник-одиночка, котоый любит делиться тем, что видел, с другими</h4>
  <p>
  План Вашего маршрута, краткое предварительное описание Вашего увлекательного путешествия - все в одном месте
  </p>
</div>
<div class="span4 well">
  <h4>Вы - любитель путешествовать как в одиночку - так и в группе таких же как вы</h4>
  <p>
  Все о всех - с кем вы путешествовали в каждом конкретном путешествии или приключении - а так же возможность общаться, обмениваться впечатлениями - все тут
  </p>
</div>	
