<ul class="breadcrumb">
  <li><a href="#/projects">Проекты</a> <span class="divider">/</span></li>
  <li class="active" ng-bind="project.name"></li>
</ul>

<div ng-controller="ProjectCtrl">
  
	<span class="span12">
		<span class="btn-group pinned">
			<a class="btn" ng-show="project.id!='new'" ng-disabled="mode=='pulse'" href="#/projects/project/{{project.id}}/pulse">
				<i class=" icon icon-camera"></i>
				&nbsp;Пульс проекта
			</a>
			<a class="btn" ng-show="project.id!='new'" ng-disabled="mode=='view'" href="#/projects/project/{{project.id}}/view">
				<i class="icon icon-eye-open"></i>
				&nbsp;Карточка проекта
			</a>			
		</span>
		<span class="btn-group pinned pull-right">
			<a class="btn show4logged" ng-show="user.loginStatus==1 && project.can_edit==1 && project.id!='new'" ng-disabled="mode=='edit'" ng-click="setMode('edit')" href="#/projects/project/{{project.id}}/edit">
				<i class=" icon icon-edit"></i>
				&nbsp;Изменение
			</a>
		</span>	
	</span>
	
  <div class="accordion" id="accordion2">
	
	<div class="accordion-group">
	  <div class="accordion-heading">
		<center><h5>Дата проекта</h5></center>
	  </div>
	  <div id="info" class="accordion-body collapse in">
		<div class="accordion-inner">
			<div ng-show="mode=='view'">
				C <span class="" ng-bind="project.from"></span>
				До <span class="" ng-bind="project.to"></span>
			</div>
			<div ng-show="mode=='edit'">
				<div class="control-group">
					<span class="span4">
						<span>Дата начала</span>
						<div class="control-group input-append">
							<input type="text" ng-model="project.from" data-date-format="yyyy-mm-dd" bs-datepicker>
							<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
						</div>
					</span>
				
					<span class="span4">
						<span>Дата окончания</span>
						<div class="control-group input-append">
							<input type="text" ng-model="project.to" data-date-format="yyyy-mm-dd" bs-datepicker>
							<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
						</div>
					</span>
					<a ng-show="project.id!='new'" class="btn pull-right save" ng-show="mode=='edit'" ng-click="save('ProjectInfo')" href="#/projects/project/{{project.id}}/edit">
						<i class=" icon icon-check"></i>
						&nbsp;Сохранить
					</a>  
				</div>
				
			</div>
		</div>
	  </div>
	</div>
	
	<div class="accordion-group">
	  <div class="accordion-heading">
		<center><h5>Краткое описание</h5></center>
	  </div>
	  <div id="info" class="accordion-body collapse in">
		<div class="accordion-inner">
			<div ng-show="mode=='view'">
				<h4>{{project.name}}</h4>
			</div>
			<div ng-show="mode=='edit'">
				<div class="control-group">
					<div>
					  <input type="text" class="input-medium span10" ng-model="project.name" name="name" id="project-name" enter-submit='save("ProjectInfo",project)' required/>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
	
	<div class="accordion-group" ng-show="project.id!='new'">
	  <div class="accordion-heading">
		<center><h5> Фото проекта</h5> </center>
	  </div>
	  <div id="info" class="accordion-body collapse in">
		<div class="accordion-inner">
		  <ul class="nav nav-tabs nav-stacked">
			<li class="">
				<span  class="">
				<a ng-href="{{project.photo[0].path}}" target="_blank">
				  <img ng-src="{{project.photo[0].thumb}}" resize-max-height="120" resize-max-width="120" resize-quality="0.7"/>
				</a>
				
				</span>
				<span class="span3 pull-right" ng-show="mode=='edit'">
					<upload target="/ahs/projects/project/photo" name="media"></upload>
				</span>	
			</li>
		  </ul>
		  
		</div>
	  </div>
	</div>
	
	<div class="accordion-group" ng-show="project.id!='new'">
	  <div class="accordion-heading">
		<center><h5> Цели</h5></center>
	  </div>
	  <div id="goals" class="accordion-body collapse in">
		<div class="accordion-inner">
		  <goals ng-model="project.goals" mode="view"></goals>
		</div>
	  </div>
	</div>
	<div class="accordion-group" ng-show="project.id!='new'">
	  <div class="accordion-heading">
		<center><h5>
		  Участники
		</h5></center>
	  </div>
	  <div id="participants" class="accordion-body collapse in">
		<div class="accordion-inner">
		  <participants ng-model="project.participants" mode="view"></participants>
		</div>
	  </div>
	</div>
	<div class="accordion-group" ng-show="project.id!='new'">
	  <div class="accordion-heading" >
		<h5>
		  <center>Местоположение</center>		  
		</h5>
	  </div>
	  <div id="place" class="accordion-body collapse in">
		<div class="accordion-inner">
		  <geo mode="view"></geo>
		</div>
	  </div>
	</div>	
  </div>
</div>