<ul class="breadcrumb">
  <li><a href="#/projects">Проекты</a> <span class="divider">/</span></li>
  <li class="active" ng-bind="project.name">{{project.name}}</li>
</ul>
<div ng-controller="PulseCtrl">
	<div class="btn-toolbar">
		<span class="btn-group pinned">
			<a class="btn" ng-disabled="1" href="#/projects/project/{{project.id}}/pulse">
				<i class=" icon icon-camera"></i>
				&nbsp;Пульс проекта
			</a>
			<a class="btn" ng-disabled="mode=='view'" href="#/projects/project/{{project.id}}/view">
				<i class="icon icon-eye-open"></i>
				&nbsp;Карточка проекта
			</a>			
		</span>
	</div>	
	<ul class="media-list">
		<li class="media" ng-repeat="item in pulse">
			<a class="pull-left" href="#">
				<img class="media-object img-circle" ng-src="/img/users/{{item.login}}/{{item.filename}}" width="64" height="64">
			</a>
			<span>{{item.login}}</span>
			<span><i class="icon-user"></i></span>
			<span>{{item.updated}}</span>
			<div class="media-body">
				<!--<h4 class="media-heading">Media heading</h4>-->
				<p ng-bind-html-unsafe="item.description"></p>
			</div>
		</li>		
	</ul>
	<div ng-show="user.loginStatus==1">
		<plcgi-nicedit class="textarea" id="descr" ng-model="description" />
		
	</div>
	<a ng-show="user.loginStatus==1" class="btn save" ng-click="save()" ><i class=" icon icon-check"></i>&nbsp;Сохранить</a>
</div>