<div class="row-fluid">
	<div class="span12">
		&nbsp;
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		&nbsp;
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset3 well">
		<h2 class="text-center">Вход</h2>
		<form class="form-horizontal" method="POST" name="loginFrm" ng-controller="AuthCtrl">
			<div class="control-group">
				<label class="control-label" for="userName">Логин: </label>
				<div class="controls">
					<input type="text" id="login" placeholder="Ваш логин? ))" ng-model="login" required>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password">Пароль: </label>
				<div class="controls">
					<input type="password" id="password" placeholder="Пароль? ))" ng-model="password" required>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn btn-primary" ng-hide="authenticating" ng-click="logme()">Войти</button>
					<button type="button" class="btn btn-primary disabled" ng-show="authenticating">Входим...</button>
				</div>
			</div>
		</form>

		<p class="text-error text-center" ng-show="showErrorMessage">
			* {{errorMessage}}
		</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span5 offset3 text-center">
		<p class="muted">
			:
			<div class="row-fluid">
				<div class="span3">
					<i class="icon-facebook-sign icon-3x"></i>
				</div>
				<div class="span3">
					<i class="icon-twitter-sign icon-3x"></i>
				</div>
				<div class="span3">
					<i class="icon-linkedin-sign icon-3x"></i>
				</div>
				<div class="span3">
					<i class="icon-google-plus-sign icon-3x"></i>
				</div>
			</div>
		</p>
	</div>
</div>
